<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>MOEX</title>
</head>
<body>
    <nav class="flex jastify-between text-5xl my3">
        <ul class="flex gap-5 mr-10">
            <li> Московская Биржа </li>
        </ul>
    </nav>
    <hr>
<li class="flex jastify-between text-3xl my3">
    Добро пожаловать в инструмент получения и построения графиков биржевых данных.
</li>
 <hr>
<a href="/pages/input" class="flex jastify-between text-3xl my3">
    <botton> введите тикер и период </botton>
</a>

</body>
</html>