<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X_UA_Compatible" content="ie=edge">
    <title>МОЕХ</title>
</head>
<body>
<li>
    Добро пожаловать в инструмент получения и построения графиков биржевых данных.
    Вот несколько примеров биржевых тикеров, которые вы можете рассмотреть: SNGS
    Общие периоды времени для данных о запасах включают: 1д
    <br>
</li>
    <form >
    <lable for='ticker'>Введите тикер акции :</lable>
    <input type="text" id="ticker" name="ticker" maxlength="8" required>
        <br>
    <lable for='period'>Введите период для данных (например, '31' для одного месяца) :</lable>
    <input type="int" id="period" name="period"   required>
        <br>
    <lable for='threshold'>Введите порог колебания акций относительно средней цены закрытия в процентах :</lable>
    <input type="int" id="threshold" name="threshold" maxlength="2" required>
        <br>
    <button type="submit">Отправить форму</button>
    </form>
</body>
</html>