<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X_UA_Compatible" content="ie=edge">
    <title>МОЕХ</title>
</head>
<body>
<li class="flex jastify-between text-3xl my3">
    <p style="color: red;">   Добро пожаловать в инструмент получения и построения графиков биржевых данных.  </p>
    <p>    Введите тикер акции (например, SNGSP для Сургутнефтегаза, GAZP газпром, SBER сбербанк)  </p>
    <p>    Введите начальную дату. Если не вводить, то будет запрос за весь период существования эмитента</p>
    <p>  Введите период для данных (1 - 1 минута,   10 - 10 минут,   60 - 1 час,   24 - 1 день,   7 - 1 неделя,  31 - 1 месяц )</p>

</li>
 <br>
<h2>Введите  данные для получения информации об эмитенте</h2>
    <form action="postdata" method="post">
        <p>
            ticker:
            <input name="ticker" />
        </p>

        <p>
            Начальная дата:
            <input name="start_date" type="date" />
        </p>
        <p>
            Период:
            <input name="period" type="submit" value="1" />
            <input name="period" type="submit" value="10" />
            <input name="period" type="submit" value="60" />
            <input name="period" type="submit" value="24" />
            <input name="period" type="submit" value="7" />
            <input name="period"  type="submit" value="31" />
            </p>
    </form>

</body>
</html>